.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  margin-top: 30px;

  &.disabled {
    .arrowBack {
      opacity: 0.5;
    }
  }

  svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: 0.4s;

    path {
      fill: var(--color-accent-300);
    }

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
    }
  }
}
