@use "@/styles/mixins" as *;

.productsContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 24px;
  align-items: flex-start;
  justify-content: start;

  .card {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    min-width: 300px;
    max-width: 400px;
    min-height: 245px;
    padding: 0.4em;

    color: var(--color-dark-900);

    background: var(--color-light-100);
    border: 2px solid var(--color-accent-300);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(250 241 241 / 24%);

    .cardFooter {
      display: flex;
      align-items: center;
      padding-top: 10px;
      border-top: 1px solid #ddd;
    }

    .textTitle {
      font-weight: 900;
      line-height: 1.5;
    }

    .cardInfo {
      .textBody {
        padding-bottom: 10px;
      }
    }
  }
}
