:root {
  // accent
  --color-accent-100: #bea6ff;
  --color-accent-300: rgb(165 40 56);
  --color-accent-700: #704ecc;
  --color-accent-900: #382766;

  // success
  --color-success-300: #22e584;
  --color-success-500: #14cc70;
  --color-success-700: #0f9954;

  // danger
  --color-danger-100: #ff8099;
  --color-danger-300: #f23d61;
  --color-danger-500: #cc1439;

  // warning
  --color-warning-300: #d8b55b;

  // light
  --color-light-100: #fff;
  --color-light-500: #f5f5f5;
  --color-light-900: #c3c1c7;

  // dark
  --color-dark-100: #808080;
  --color-dark-500: #333;
  --color-dark-900: #000;
}
